.miniFlag {
  max-width: 30px;
  max-height: 20px;
}

.smallFlag {
  max-width: 100px;
  max-height: 75px;
  cursor: pointer;
}

.mediumFlag {
  max-width: 300px;
  max-height: 200px;
  margin: 50px;
  float: right;
}

.flagsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}

.flagsGrid a {
  color: black;
  text-align: center;
}

.active {
  font-size: 1.5rem;
}

li {
  cursor: pointer;
}

.layout {
  display: flex;
}

.sidebar {
  max-width: 15%;
  width: 15%;
}

.mainLayout {
  width: 70%;
  margin: 20px 10px;
}

.resultsTable td, .resultsTable tr {
  text-align: center;
}

.leftAlign, .resultsTable .leftAlign {
  text-align: left;
}

.label {
  font-weight: 600;
  font-size: larger;
}

.language {
  font-weight: bolder;
}